{% extends 'mailing/base.html' %}
{% block title %}
    Изменить письмо
{% endblock %}
{% block main %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Изменить письмо</h1>
            <form method="post" action="{% url 'mailing:edit_message' message.id %}" >
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Тема письма" value="{{ message.title}}" name="title"><br>
                <textarea class="form-control" placeholder="Текст письма" name="text">{{ message.text}}</textarea><br>
                <input class="btn btn-primary" type="submit" value="Изменить">
            </form>
        </div>
    </div>

{% endblock %}
