{% extends 'mailing/base.html' %}
{% block title %}
    Логи
{% endblock %}
{% block main %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Логи</h1>
            <table class="table table-primary table-striped-columns">
                <thead>
                    <tr>
                        <th>Рассылка</th>
                        <th>Последняя попытка</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.mailing }}</td>
                        <td>{{ object.last_attempt }}</td>
                        <td>{{ object.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
