{% extends 'mailing/base.html' %}
{% block title %}
    Рассылки
{% endblock %}
{% block main %}
    <div class="row mt-2">
        <div class="col m-2">
            <h1>Модерация</h1>
            <a href="#" class="btn btn-info">Управление рассылками</a>
            <a href="{% url 'mailing:moderation_users' %}" class="btn btn-primary">Управление пользователями</a>
            <table class="table table-primary table-striped-columns mt-2">
                <thead>
                    <tr>
                        <th>Старт рассылки</th>
                        <th>Конец рассылки</th>
                        <th>Периодичность</th>
                        <th>Статус</th>
                        <th>Сообщение</th>
                        <th>Клиенты</th>
                        <th>Включить/выключить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.start_time }}</td>
                        <td>{{ object.end_time }}</td>
                        <td>{{ object.periodicity }}</td>
                        <td>{{ object.get_status }}</td>
                        <td>{{ object.message }}</td>
                        <td>{% for client in object.clients.all %}
                            {{ client }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% if object.get_status != 'closed' %}
                            {% if object.is_active %}
                            <a class="btn btn-danger" href="{% url 'mailing:moderation_mailing_update' object.pk %}">Выключить</a>
                            {% else %}
                            <a class="btn btn-success" href="{% url 'mailing:moderation_mailing_update' object.pk %}">Включить</a>
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
