{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block main %}
    <div class="row mt-2 justify-content-center">
        <div class="col-6">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">Удалить статью "{{ object.title}}"?</h4>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Удалить">
                    <a href="{% url 'blog:blog' %}" class="btn btn-primary">Отмена</a>
                </form>
              </div>
            </div>
        </div>
    </div>


{% endblock %}