{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block title %}
    Профиль
{% endblock %}
{% block main %}
    <div class="row mt-2 justify-content-center">
        <div class="col-6">
            <div class="card bg-info">
              {% if object.avatar %}
              <p style="text-align: center;">
                <img src="{{ object.avatar|mymedia }}" alt="{{ object.first_name }}" style="max-height:225px; max-width:100%; width: auto; height: auto;">
              </p>
              {% endif %}
              <div class="card-body">
                  <h5 class="card-title">{{ object.first_name }} {{ object.last_name }}</h5>
                  <p class="card-text">email: {{ object.email }}
                      {% if object.email_is_confirmed %}
                        <span class="badge text-success">ОК</span><br>
                      {% else %}
                        <a href="{% url 'users:confirm' %}" class="btn btn-sm btn-danger">Подтвердить</a>
                      {% endif %}<br>
                  Телефон: {{ object.phone }}<br>
                  Страна: {{ object.country }}</p>
                  <div class="btn-group">
                      <a href="{% url 'users:update_profile' %}" class="btn btn-warning">Редактировать</a>
                  </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}